name: Autodeploy app release to prod

on:
  schedule:
    - cron: '0 11 * * *' # every day at 11am UTC

  # Enable manual triggering of the workflow
  workflow_dispatch:

  push:
    branches:
      - "yl/autodeploy-fix"

jobs:

  force_reboot:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up Terraform
        uses: ./.github/actions/setup-terraform

      - name: Configure AWS credentials
        uses: ./.github/actions/configure-aws-credentials
        with:
          app_name: app
          environment: prod

      - name: Force AWS app service to restart
        run: |
          aws ecs update-service --cluster app-prod --service app-prod --force-new-deployment
          
          echo "Started new task..."
          sleep 10
          TASKS=$(aws ecs list-tasks --cluster app-prod --query 'taskArns[]' --output text)
          aws ecs describe-tasks --cluster app-prod --tasks $TASKS --query "tasks[].[taskArn, createdAt, lastStatus, healthStatus]" --output table
          
          echo "Waiting for service to stabilize..."
          aws ecs wait services-stable --cluster app-prod --service app-prod

          echo "Service stabilized. Current tasks:"
          TASKS=$(aws ecs list-tasks --cluster app-prod --query 'taskArns[]' --output text)
          aws ecs describe-tasks --cluster app-prod --tasks $TASKS --query "tasks[].[taskArn, createdAt, lastStatus, healthStatus]" --output table
